<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>😎 Vote 😎</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    </head>
    <body>
        {% include 'navbar.html' %}

        <div class="container index_container">
            <div class="buttons is-centered">
                <button class="button is-primary" onclick="location.href='http://localhost:5000/vote'">&nbsp;&nbsp;🥳&nbsp;&nbsp;</button>
            </div>
        </div>

        {{response}}
    </body>
</html>