<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>😎 Vote 😎</title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/regCandidate.css">
        <script src="../static/js/regCandidate.js"></script>
    </head>
    <body>
        {% include 'navbar.html' %}

        <form action="/regCandidate/progress" method="POST" name="regCandidateForm">
        <div class="columns is-centered">
            <div class="column is-one-third">
                <div class="field">
                    <label class="label">총 학생 회장 후보</label>
                    <div class="control">
                        <div style="float:left; width:45%">
                            <input class="input" type="text" placeholder="이름" name="candidate_name" id="top_stuPresident">
                        </div>
                        <div style="float:right;">
                                <div class="select">
                                    <select id="top_stuPresident_dep" name="stuPresident_dep">
                                        <option selected disabled value="">학과를 선택하세요</option>
                                        <option value="컴퓨터시스템과">컴퓨터시스템과</option>
                                        <option value="컴퓨터정보과">컴퓨터정보과</option>
                                        <option value="항공운항과">항공운항과</option>
                                    </select>
                                </div>
                        </div>
                    </div>
                </div>
                <br/><br/><br/>
                <div class="field">
                    <label class="label">부 학생 회장 후보1</label>
                    <div class="control">
                        <div style="float:left; width:45%">
                            <input class="input" type="text" placeholder="이름" name="candidate_name" id="sec_stuPresident1">
                        </div>
                        <div style="float:right;">
                                <div class="select">
                                    <select id="sec_stuPresident1_dep" name="stuPresident_dep">
                                        <option selected disabled value="">학과를 선택하세요</option>
                                        <option value="컴퓨터시스템과">컴퓨터시스템과</option>
                                        <option value="컴퓨터정보과">컴퓨터정보과</option>
                                        <option value="항공운항과">항공운항과</option>
                                    </select>
                                </div>
                        </div>
                    </div>
                </div>
                <br/><br/><br/>
                <div class="field">
                    <label class="label">부 학생 회장 후보2</label>
                    <div class="control">
                        <div style="float:left; width:45%">
                            <input class="input" type="text" placeholder="이름" name="candidate_name" id="sec_stuPresident2">
                        </div>
                        <div style="float:right;">
                                <div class="select">
                                    <select id="sec_stuPresident2_dep" name="stuPresident_dep">
                                        <option selected disabled value="">학과를 선택하세요</option>
                                        <option value="컴퓨터시스템과">컴퓨터시스템과</option>
                                        <option value="컴퓨터정보과">컴퓨터정보과</option>
                                        <option value="항공운항과">항공운항과</option>
                                    </select>
                                </div>
                        </div>
                    </div>
                </div>
                <br/><br/><br/>
                
                <div class="field">
                    <label class="label">후보자 공약</label>
                    <div class="control">
                        <textarea class="textarea" id="msgCandidate"></textarea>
                    </div>
                </div>
            </div>
        </div>
        </form>
        <br/><br/>
        <div class="field is-grouped is-grouped-centered">
            <div class="control">
                <button class="button is-link" id="btnSubmit">등록</button>
            </div>
            <div class="control">
                <button class="button is-link is-light" onclick="location.href='/'">취소</button>
            </div>
        </div>
    </body>
</html>