<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>😎 Vote 😎</title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/vote.css">
        <script src="../static/js/vote.js"></script>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container is-max-desktop">
            <div class="notification is-white">
                <section class="section is-medium">
                    <h1 class="title" style="font-size:50pt;"><strong>투표 시작 전입니다!</strong></h1><br/>
                    <h2 class="subtitle">
                      현재 투표 시작 전입니다. 공지에 안내 된 시간에 맞춰 투표에 참여 해주시길 바랍니다.
                    </h2>
                  </section>
            </div>
        </div>
    </body>
</html>