<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>😎 Vote 😎</title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/vote.css">
        <script src="../static/js/vote.js"></script>
    </head>
    <body>
        {% include 'navbar.html' %}

        <!-- <form action="/tran/new" method="POST" name="voteForm1">
            <div class="control">
                <label class="radio">
                  <input type="radio" name="candidate" value="1"> 
                  Candidate 1
                </label>
                <label class="radio">
                  <input type="radio" name="candidate" value="2">
                  Candidate 2
                </label>

                <button type="button" class="button is-primary" onclick="chkFormNull()">Vote!</button>

                {% if userSession %}
                    <p> {{userSession}} 아이디로 투표 중 입니다.</p>
                {% else %}
                {% endif %}
            </div>
        </form> -->
        <br/>
        {% if userSession %}
                    <p> {{userSession}} 아이디로 투표 중 입니다.</p>
                    <p>{{userAuth}}</p>
        {% else %}
        {% endif %}

        <!-- {% for i in response %}
            <a>{{i}}</a><br/>
            <a>{{i['cand1']}}</a><br/>
        {% endfor %} -->
        <br/><br/><br/>
        <section class="content tiles">
            <div class="container">
                <div class="columns">
        {% for i in response %}
                    <form action="/tran/new" method="POST" class="column" name="voteForm{{i['idx']}}" id="{{i['idx']}}" onclick="vote(this)">
                        <input type="hidden" name="candidate" value="{{i['idx']}}"/>
                        <div>
                            <a class="box social" target="_blank">
                                <p class="title is-2"><b>기호 {{i['idx']}}</b></p>
                                <p class="subtitle is-5 is-marginless"><b>총 학생 회장 후보</b> : {{i['cand1']}} ({{i['cand1_dep']}})</p><br/>
                                <p class="subtitle is-5 is-marginless"><b>부 학생 회장 후보1</b> : {{i['cand2']}} ({{i['cand2_dep']}})</p><br/>
                                <p class="subtitle is-5 is-marginless"><b>부 학생 회장 후보2</b> : {{i['cand3']}} ({{i['cand3_dep']}})</p><br/><br/>
                                <p class="subtitle is-5 is-marginless" style="text-align: center;"><b>후보자 공약</b></p><br/>
                                <div class="box">
                                    <div class="content">
                                        <p>
                                            {{i['candMsg']}}
                                        </p>
                                    </div>   
                                </div>
                            </a>
                            <!-- <input type="radio" name="candidate" value="1"/> -->
                        </div>
                    </form>
        {% endfor %}
                </div>
            </div>
        </section>
          
    </body>
</html>