<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>😎 Vote 😎</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <script src="../static/js/vote.js"></script>
    </head>
    <body>
        {% include 'navbar.html' %}

        <form action="/tran/new" method="POST" name="voteForm">
            <div class="control">
                <label class="radio">
                  <input type="radio" name="candidate" value="1">
                  Candidate 1
                </label>
                <label class="radio">
                  <input type="radio" name="candidate" value="2">
                  Candidate 2
                </label>

                <button type="button" class="button is-primary" onclick="chkFormNull()">Vote!</button>

                {% if userSession %}
                    <p> {{userSession}} 아이디로 투표 중 입니다.</p>
                {% else %}
                {% endif %}
            </div>
        </form>
    </body>
</html>